- hosts: app
  become: true

  tasks:
    # SYSTEM SETUP
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required system packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - docker.io
          - python3-pip
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    # DOCKER SETUP
    - name: Install Docker SDK for Python
      pip:
        name: docker

    # APPLICATION DEPLOYMENT
    - name: Pull Secret Message Locker image
      docker_image:
        name: mikassaa/secret-message-locker
        tag: latest
        source: pull

    - name: Run Secret Message Locker container
      docker_container:
        name: secret-message-app
        image: mikassaa/secret-message-locker:latest
        state: started
        restart_policy: always
        ports:
          - "3000:3000"
        env:
          NEXT_PUBLIC_SUPABASE_URL: "{{ supabase_url }}"
          NEXT_PUBLIC_SUPABASE_ANON_KEY: "{{ supabase_anon_key }}"
          MASTER_KEY: "{{ master_key }}"
